nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left:70vh;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
a:hover{
    color:blue;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 150px;
}
h1{
    text-decoration: double;
    margin-top: 5%;
    font-style: oblique;
}
h3{
    font-style:oblique;
}
.col-md-3{
    font-size: 12px;
    
}
h5{
    color:black;
    text-align:none;
}
img{
    margin-left: 20%;
}
.skill{
    font-size: 25px;
    font-weight: bolder;
    align-content: center;
}
.point{
    margin-left: 5%;
}